<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org">
<head>
<meta charset="ISO-8859-1">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" 
rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" 
crossorigin="anonymous">
<title>Student Management System</title>
</head>
<body>
	<div class="container">
		<div class="row">
		<h1>List Of Students</h1>
		</div>
		<table class="table table-stripped table-bordered">
			<thead class="table-dark">
				<tr>
				<th>Student First Name</th>
				<th>Student Last Name</th>
				<th>Email Address</th>
				<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="student: ${students}">
					<td th:text="${student.firtstName}"></td>
				</tr>
			</tbody>
		</table>
	</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js" 
integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ" 
crossorigin="anonymous"></script>
</body>
</html>